<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pousadaria</title>
</head>
<body>
    <div id="app"></div>
   
    <script id="main-template" type="text/template">
        <header>
            <nav-bar></nav-bar>
        </header>
        <router-view></router-view>
    </script>

    <script id="nav-bar-template" type="text/template">
        <section id="nav-bar">
            <ul>
                <li><router-link to="/">Pousadaria</router-link></li>
                <li><a href="">Entrar</a></li>                
            </ul>

        </section>
    </script>

    <script id="inns-list-template" type="text/template">
        <div id="search-bar">
            <input type="text" id="search-field" placeholder="Nome da pousada" v-model="query">
            <button>Pesquisar</button>
        </div>
        
        <h1>Pousadas</h1>

        <div v-if="filterInns.length === 0">
            <p>Nenhuma pousada encontrada</p>
        </div>
        
        <ul>
            <li v-for="inn, index in filterInns">
                <div id="inn-card">
                    <h2><router-link :to="/inns/ + inn.id">{{ inn.name }}</router-link></h2>
                    <p>{{ inn.description }}</p>
                    <p><strong>Avaliação: {{ inn.score }}</strong></p>
                    <address>
                        <p>{{ inn.city }} - {{ inn.state }}</p>
                        <p>Contato:</p>
                        <a :href="'mailto:' + inn.email">{{ inn.email }}</a> <br>
                        <a :href="'tel:' + inn.phone">{{ inn.phone }}</a>
                    </address>
                </div>
            </li>
        </ul>
    </script>

    <script id="inn-details-template" type="text/template">
        <section>
            <div id="details">
                <h1>{{ inn.name }}</h1>
                <h3>Média de avaliações: {{ inn.score }}</h3>
                <address>
                    <p>{{ inn.street }}, {{ inn.number }}</p>
                    <p>{{ inn.neighborhood }}, {{ inn.city }} - {{ inn.state }}</p>
                    <p>CEP: {{ inn.postalCode }}</p>
                    <a :href="'mailto:' + inn.email">{{ inn.email }}</a><br>
                    <a :href="'tel:' + inn.phone">{{ inn.phone }}</a>
                </address>
                <dl>
                    <dt>Descrição:</dt>
                    <dd>{{ inn.description }}</dd>
                    <dt>Métodos de pagamento:</dt>
                    <dd>{{ inn.payMethods }}</dd>
                    <dt>Aceita pets:</dt>
                    <dd>{{ inn.petFriendly === true ? "Sim" : "Não" }}</dd>
                    <dt>Políticas de uso:</dt>
                    <dd>{{ inn.userPolicies }}</dd>
                    <dt>Horário de check-in:</dt>
                    <dd>{{ inn.checkInTime }}</dd>
                    <dt>Horário de check-out:</dt>
                    <dd>{{ inn.checkOutTime }}</dd>
                </dl>
            </div>

            <div id="rooms">
                <h2>Quartos disponíveis</h2>
                <ul>
                    <li v-for="room in rooms">
                        <div class="room-details">
                            <h3>{{ room.name }}</h3>
                            <p>{{ room.description }}</p>
                            <dl>
                                <dt>Tamanho:</dt>
                                <dd>{{ room.size }} m²</dd>
                                <dt>Número de hóspedes:</dt>
                                <dd>{{ room.maxGuests }}</dd>
                                <dt>Valor da diária:</dt>
                                <dd>R$ {{ room.price }}</dd>
                                <dt>Comodidades:</dt>
                                <dd>
                                    <li v-for="ammenity in room.ammenities"></li>
                                    <li>Banheiro próprio: {{ room.bathroom === true ? "Sim" : "Não" }}</li>
                                    <li>Sacada: {{ room.porch === true ? "Sim" : "Não" }}</li>
                                    <li>Ar-condicionado: {{ room.airConditioner === true ? "Sim" : "Não" }}</li>
                                    <li>Televisão: {{ room.tv === true ? "Sim" : "Não" }}</li>
                                    <li>Guarda-roupas: {{ room.wardrobe === true ? "Sim" : "Não" }}</li>
                                    <li>Cofre: {{ room.safe === true ? "Sim" : "Não" }}</li>
                                    <li>Wi-fi: {{ room.wifi === true ? "Sim" : "Não" }}</li>
                                    <li>Acessibilidade: {{ room.accessibility === true ? "Sim" : "Não" }}</li>
                                </dd>
                            </dl>
                            <button>RESERVAR</button>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <router-link to="/">Voltar</router-link>
    </script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="js/main.js"></script>
</body>
</html>